@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}
/* this code for styling the body */
body{
    background-color: steelblue;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* styling for main container for form wave */
.container{
    background-color: rgb(96, 155, 234);
    padding: 20px 40px;
    border-radius: 5px;

}

/* styling for main login heading f */
.container h1{
    text-align: center;
    margin-bottom: 3;
}

/* this code for anker tag */
.container a{
    text-align: none;
    color: lightblue;
}

/* this code for btn styling */

.btn{
    
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    border: 0;
    font-size: 16px;
    border-radius: 5px;

}

/* this code for button active */
.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}
/* this styling for form controler */
.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

/* styling for input form */
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid{
    border-bottom-color:lightblue ;
}